@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f3f4f6; /* Gray-100 */
  min-height: 100vh;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-duration: 200ms;
}

.dark body {
  background-color: #0f172a; /* Slate-950 */
  color: #f8fafc; /* Slate-50 */
}

/* Hide default browser password toggle icons */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}
